/* seset style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;

}
/* common */
.while-text {
    color: #fff!important;
}
.blur{
    opacity: 0.5 ;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
.row {
    margin-right: -8px;
    margin-left: -8px;
}
.col {
    float:left;
    padding: 0 8px;
}
.col-3 {
    width: 33.33%;
}
.col-2 {
    width: 50%;
}
.col-full {
    width: 100%;
}
.text-center {
    text-align: center!important;
}
.mt-8 {
    margin-top: 8px!important;
}
.mt-16 {
    margin-top: 16px!important;
}
.mb-32{
    margin-bottom: 32px!important;
}
.fs-15{
    font-size: 15px;
}

  /* Main */
#main {
    
}

#header {
    height: 46px;
    background-color: #000;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
#nav {

}

#nav li {
    display: inline-block;
     position: relative;
}
#nav li:hover .sub-nav{
    display: block;
}
#nav >li >a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    padding: 0 26px;
    display: block;
    line-height: 46px;
}


#nav > li:hover > a,
#nav .sub-nav > li:hover a {
    color: #000 !important;
    background-color: #ccc;
}
#nav .sub-nav {
    display: none;   
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 5px 10px  #1b1b1b;
    border-radius: 0 0 10px 10px;
}

#nav .sub-nav:hover {
    display: block;
}
#nav .sub-nav li {
   width: 100%;
   
}
#nav .sub-nav a{
    color: #000 !important;
    padding: 0 12px;
    line-height: 38px;
}
#nav .sub-nav a:last-child:hover {
    border-radius: 0 0 10px 10px;
}
.nav-arrow-down{
    font-size: 12px;
}
/* icon-search */
.mobile-menu-btn {
    display: none;
}
.mobile-menu-btn,
.search-btn {
    position:absolute;
    right: 0;
    padding: 0 20px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #f44336!important
}
.mobile-menu-btn:hover {
    background-color: #ccc;
    
}
.mobile-menu-btn:hover > i {
    color: #000;
}

 .mobile-menu-btn i,
 .search-btn i {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    margin-top: 46px; 
    padding-top: 50%;
   position: relative;
    background: url(../assests/img/chicago.jpg) no-repeat top center /cover;
}
#slider .chicago-place{
    color: #fff;
    text-align:center;
    position:absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}
#slider .chicago-place h1{
    font-weight: 500;
    font-size: 24px;
    margin-bottom:25px;
}
#slider .chicago-place p{
    font-size: 15px;
}


#content {
   
}
#content .content-section {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 16px;
}
#content .section-heading,
#content .section-sub-heading{
    text-align: center;
    font-weight: 500;
}
#content .section-heading {
    line-height: 55px; 
    letter-spacing: 5px;
}
#content .section-sub-heading{
    font-style: italic;  
    opacity: 0.5;
    margin: 15px 0;
}
#content .about-text {
    text-align: justify!important;
    line-height: 1.5;
}
#content .container-members-band {
    display: flex;
    flex-direction: row;
    margin: 40px 0 ;
}
#content .member-band{
    width: 33.33%;
    text-align: center;
    
}
  

#content .name {
    font-size: 15px;
    margin: 15px 0;
    
}
#content .avt {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
    width: 60%;
    border-radius: 5px;
}
#content  .container-ticket {
   background-color: #000;
   height: auto;
}

.container-ticket .ticket-list {
    background-color: #fff; 
    color: #757575;
    list-style: none;
}
.container-ticket .ticket-list li {
    padding: 10px 16px;
    font-size:15px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1); 
}
.container-ticket .sold-out {
    background-color:#f44336;
    color: #fff;
    margin-left: 16px;
    padding: 2px 8px;
}
.container-ticket .num-ticket {
    background-color: #000;
    width: 24px;
    height: 24px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    float: right!important;
    margin-top:-3px;
}

/* place */
.container-box-ticket {
    margin-top: 16px;
    margin-bottom: 48px;
    
}


.img-ticket {
    width: 100%;
   display: block;
}
.img-ticket:hover {
    opacity: 0.6;
}
.content-ticket {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.space-tour,
.time-concept,
.discription-concept  {
    font-size: 15px;
   padding-bottom: 15px;
    
}
.space-tour {
    font-weight: 600;
}
.discription-concept {
    line-height: 1.6;
}
.btn {
    width: 100px;
    height:40px;
    font-size: 16px;
    color: #fff;
    border:none !important;
}
.btn-drak {
    background-color: #000;
}
.btn-drak:hover {
    color: #000;
    background-color: rgb(194, 192, 192);
}
.modal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal.open{
    display: flex;
}
.modal-container {
    width: 900px;
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease .5s;
}

.modal-close {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}
.modal-close:hover {
    background-color: #ccc;
    color: #000;
}
.modal-close i {
    font-size: 1.5em;
    padding-top:10px;
}
.modal-header {
    background-color: #009688;
    height: 130px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.modal-header h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.modal-header  i {
    margin-right: 20px;
}

.modal-body {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.modal-lable {
    margin: 24px 0 12px 0;
}
.modal-input {
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2)
}
#buy-ticket {
    margin: 16px 0;
    padding: 16px;
    background: #009688;
    border: none;
    color: #fff;
    font-size: 16px;
}
#buy-ticket:hover{
    color: #000;
    background-color: #ccc;
}
.modal-footer {
    margin: 15px 0;
    font-size: 15px;
    text-align: right;
    padding:  10px;
    
}
.modal-footer a {
    text-decoration: none;
    color: #009688;
}

/* contact */
.contact-content{
    margin-top: 48px;

}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="fas"] {
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
    display:flex;
}
.contact-form .form-control{
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 100%;
    outline: none;
}
.contact-form-submit {
    float: right;
    cursor: pointer;

}

/* map */
.map-section img{
    width: 100%;
}
/* footer */
#footer {
    padding: 64px 16px;
    text-align: center;
}
.socials {
    font-size: 24px;
}
#footer a {
    color:rgba(0, 0, 0, 0.5);
}
.copyright {
    padding: 16px;
    color:rgba(0, 0, 0, 0.5);
}


@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px)
        }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}